## Clase 2
### Introduccion a Python

In [7]:
# hola
print ('hola mundo')

hola mundo

In [8]:
var1 = 45
var2 = 23

In [9]:
var1 + var2

68

In [10]:
# doble * quiere decir una potencia
var1 ** var2

105654455657631171893227100372314453125

In [11]:
var1 / var2

1.9565217391304348

In [12]:
# // significa que trunca el resultado a un valor entero
var1 // var2

1

In [13]:
# residuo de la division
var1 % var2

22

In [15]:
print ("hola " + 'cara de bola')

hola cara de bola

In [17]:
print ('hola ' + str (var1))

hola 45

In [18]:
print ('hola', var1)

hola 45

In [19]:
a = 'hola cara de bola'

In [20]:
a[5]

'c'

In [21]:
b = "hola cara de bola"

In [22]:
b[5]

'c'

In [23]:
a[5:10]

'cara '

In [24]:
a[5:]

'cara de bola'

In [25]:
a[:15]

'hola cara de bo'

In [26]:
num = [2, 10, 15, 40, 55, 84]

In [27]:
num

[2, 10, 15, 40, 55, 84]

In [28]:
# append coloca en la posicion final
num.append(24)
num

[2, 10, 15, 40, 55, 84, 24]

In [29]:
# para insertar un dato se coloca insert(posicion despues de cual quiero mi valor, valor)
num.insert(3,35)
num

[2, 10, 15, 35, 40, 55, 84, 24]

In [30]:
num.insert(35,3)
num

[2, 10, 15, 35, 40, 55, 84, 24, 3]

In [31]:
min(num)

2

In [32]:
max(num)

84

In [33]:
sum(num)

268

In [36]:
num.sort()
num

[2, 3, 10, 15, 24, 35, 40, 55, 84]

In [38]:
num.remove(3)
num

[2, 10, 15, 24, 35, 40, 55, 84]

In [39]:
a = min(num)
b = max(num)
c = sum(num)

In [41]:
print ('la suma de la lista es:',c,'el maximo es:',b,'el minimo es:',a)

la suma de la lista es: 265 el maximo es: 84 el minimo es: 2

## Ejercicio practico
### Calculadora

In [42]:
nombre = str(input('Ingrese el nombre de la persona: '))
horas = int(input('Ingrese las horas trabajadas: '))
costo = float(input('Ingrese el costo por hora: '))
salario = horas * costo
print('El pago de',nombre,'es: ',str(salario))

Ingrese el nombre de la persona:  pablo
Ingrese las horas trabajadas:  8
Ingrese el costo por hora:  5

El pago de pablo es:  40.0

In [44]:
nombre = str(input('Ingrese el nombre de la persona: '))
horas = int(input('Ingrese las horas trabajadas: '))
costo = float(input('Ingrese el costo por hora: '))
salario = horas * costo
print('El pago de',nombre,'es: ',str(salario))

Ingrese el nombre de la persona:  pablo
Ingrese las horas trabajadas:  8
Ingrese el costo por hora:  x

ValueError: could not convert string to float: 'x'

In [43]:
try:
    nombre = str(input('Ingrese el nombre de la persona: '))
    horas = int(input('Ingrese las horas trabajadas: '))
    costo = float(input('Ingrese el costo por hora: '))
    salario = horas * costo
    print('El pago de',nombre,'es: ',str(salario))
except: 
    print('El dato no es valido')

Ingrese el nombre de la persona:  juan
Ingrese las horas trabajadas:  8.5

El dato no es valido

In [45]:
nombre = str(input('Ingrese el nombre de la persona: '))
horas = int(input('Ingrese las horas trabajadas: '))
costo = float(input('Ingrese el costo por hora: '))
salario = horas * costo
division = salario / 0
print('El pago de',nombre,'es: ',str(salario))

Ingrese el nombre de la persona:  pablo
Ingrese las horas trabajadas:  8
Ingrese el costo por hora:  5

ZeroDivisionError: float division by zero

In [46]:
try:
    nombre = str(input('Ingrese el nombre de la persona: '))
    horas = int(input('Ingrese las horas trabajadas: '))
    costo = float(input('Ingrese el costo por hora: '))
    salario = horas * costo
    division = salario / 0
    print('El pago de',nombre,'es: ',str(salario))
except(ValueError): 
    print('El dato no es valido')
except(ZeroDivisionError): 
    print('No es posible dividir por cero')

Ingrese el nombre de la persona:  pablo
Ingrese las horas trabajadas:  8
Ingrese el costo por hora:  4.5

No es posible dividir por cero

In [48]:
try:
    nombre = str(input('Ingrese el nombre de la persona: '))
    horas = int(input('Ingrese las horas trabajadas: '))
    costo = float(input('Ingrese el costo por hora: '))
    salario = horas * costo
    #division = salario / 0
    if(horas > 5):
        salario = salario + 10
    else:
        salario
    print('El pago de',nombre,'es: ',str(salario))
except(ValueError): 
    print('El dato no es valido')
except(ZeroDivisionError): 
    print('No es posible dividir por cero')

Ingrese el nombre de la persona:  pablo
Ingrese las horas trabajadas:  6
Ingrese el costo por hora:  10

El pago de pablo es:  70.0

In [49]:
try:
    nombre = str(input('Ingrese el nombre de la persona: '))
    horas = int(input('Ingrese las horas trabajadas: '))
    costo = float(input('Ingrese el costo por hora: '))
    salario = horas * costo
    #division = salario / 0
    if(horas > 5):
        salario = salario + 10
    else:
        salario
    print('El pago de',nombre,'es: ',str(salario))
except(ValueError): 
    print('El dato no es valido')
except(ZeroDivisionError): 
    print('No es posible dividir por cero')

Ingrese el nombre de la persona:  jose
Ingrese las horas trabajadas:  5
Ingrese el costo por hora:  8

El pago de jose es:  40.0